# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
.idea/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
electron/node_modules/

electron/survis-electron-win32-x64/
