svg:not(:root) {
    overflow: hidden;
}

.chart rect.bar {
    cursor: pointer;
}

.chart rect.citation {
    cursor: pointer;
}

#timeline {
    overflow: auto;
}

#timeline .label {
    float:left;
}

#citation_colors {
    float:left;
    margin: 2px 10px;
}

#citation_colors div {
    display: inline-block;
}

#citation_colors .label {
    font-weight: normal;
    position: relative;
    top: -3px;
    margin: 0 3px;
    float:none;
}

#citation_colors .color_scale {
    width: 100px;
    height: 12px;
    border: var(--strongBorder);
    background: -webkit-linear-gradient(left, white , black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , black); /* Standard syntax */
}

#control .cit_occurrence {
    font-size: 9pt;
    float: right;
    position: relative;
    top: -2px;
}

