.tooltipster-survis {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.5);
    color: #000;
    border: 1px solid silver;
}

.tooltipster-survis .tooltipster-content {
    font-family: Calibri, Arial, Sans;
    font-size: 14px;
    line-height: 16px;
    padding: 8px 10px;
    max-width: 300px;
}

.tooltipster-survis h3 {
    border-bottom: 1px solid black;
    margin: 10px 0px;
    padding: 0px;
}

.tooltipster-survis .label {
    font-size: 10pt;
    font-weight: bold;
}

.tooltipster-survis .term {
    display: inline-block;
    padding: 0px 10px;
}

.tooltipster-survis .vis {
    margin: 0px 20px;
}